<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API Automation">
    <test name="API Automation">
        <classes>
            <class name="tests.TestCreateUser"/>
            <class name="tests.TestUpdateUser"/>
            <class name="tests.TestPatchUser"/>
            <class name="tests.TestDeleteUser"/>
            <class name="tests.TestGetUser"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->